
div{
border: 2px solid aqua;
border-radius: 6px;
background-color: rgb(171, 247, 222);
font-family:'Courier New', Courier, monospace
}

div{
    border: 2px solid rgb(3, 36, 36);
    border-radius: 6px;
    background-color: rgb(171, 247, 222);
    font-family:'Courier New', Courier, monospace
    }


